button {
  font-size: $fontSizeSmall;
  font-size: $fontSizeSmall;
  padding: 0.5rem;
}

.Codigo{
    background-color: rgb(249, 165, 81);
    margin-top: 40px;
    color: white;
    height: 60px;
    width: 300px;
    font-size: x-large;
    border: none;
}

.CodigoPeque{
    color: rgb(249, 165, 81);
    border: 1px solid $orangeColor;
    width: fit-content;
}

.CodigoMediano{
  color: rgb(249, 165, 81);
  border: 1px solid $orangeColor;
  background-color: rgb(249, 165, 81);
}

.accept-button {
  color: white;
  border: 1px solid $acceptGreen;
  background-color: $acceptGreen;
}

.CodigoespecialMediano{
    background-color: rgb(242, 71, 38);
    margin-top: 40px;
    color: white;
    height: 60px;
    width: fit-content;
    font-size: x-large;
    border: none;
}

.Codigoespecial{
    background-color: rgb(242, 71, 38);
    margin-top: 40px;
    color: white;
    height: 60px;
    width: 300px;
    font-size: x-large;
    border: none;
}

.Codigoverde{
    color: rgb(51, 181, 156);
    background-color: white;
    border-color: rgb(51, 181, 156);
    font-size: $fontSizeSmall;
    font-size: $fontSizeSmall;
    padding: 0.5rem;
    width: fit-content;
}

.Codigorojopeque{
    color: rgb(242, 71, 38);
    background-color: white;
    // color: rgb(242, 71, 38);
    border-color: rgb(242, 71, 38);
    border-style: solid;
    height: 40px;
    width: fit-content;
    text-align: center;
    font-size: medium;
    padding: 10px;
}

.FechaProfile{
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
}

.CorreoProfile{
    padding-bottom: 2rem;
}
.TituloCajaProfile{
    display: flex;
    justify-content: center;
    align-items: center;
}