.CajaImagenContenedor{
    border-radius: 25%;
    background-color: white;
    border-style: none;
    height: fit-content;
    width: 120px;
}

.ImagenCajaImagen{
    border: none;
    height: 40px;
    width: 40px;
}

.TextoImagenCaja{
    font-size: small;
    font-weight: 200;
}