.Contenedorpartido{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.Secciontexto{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.ParrafoBoton{
    align-self: flex-start;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}