.SeccionGeneralHacerReservas{
    display: flex;
    padding-top: 1rem;
    gap: 3rem;
    justify-content: space-around;
}
.HacerReservaIzquierda{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 10px;

    button {
      width: 100%;
      font-size: 100%;
    }
}

.HacerReservaCentral{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.HacerReservaDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 30px;
}

.BotonHacerReservaDerecha{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.tituloHacerReserva{
    color: #F24726;
}