.InicioSesionGeneral{
    display: flex;
    /* gap: 300px; */
    justify-content: space-around;
    align-items: center;
}

.TitulosInicioSesion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.TituloIniciarSesion{
    font-size: xx-large;
}

.CajasTextoInicioSesion{
    padding-bottom: 50px;
    padding-top: 40px;
}

.BotonLinkfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}