.TituloPerfilUsuario{
    color: rgb(223, 89, 53);
}
.PerfilUsuarioUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    gap: 5px
}

.BotonRegistrarse{
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.BotonVolverRegistroUser{
    margin-top: 1rem;
}