.TituloProfile{
    color: #F6A357;
}

.SeccionContenidoProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.BotonesProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SeccionGlobalProfile{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 1rem;
}

.NombresProfile{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2rem;
}

.GeneroProfile{
    padding-bottom: 2rem;
}

.BotonConfirmarCambios{
    display: flex;
    align-items: center;
    justify-content: center;
    
}