.ArearegistroGeneral{
    display: flex;
    gap: 400px;
    margin-top: 20px;
    justify-content: space-evenly;
    padding-bottom: 40px;
}


.AreadeCamposRegistro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Checkboxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.BotonRegistrarse{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.TitulosRegistrarse1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}


.GeneralRegistroCodigo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

.SeccionTextoRegistroCodigo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TitulosRegistroCodigo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:40px;
}

.TituloRegistroCodigo{
    font-size:xx-large;
    font-weight:700;
}

.IngresoTextoRegistroCodigo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.BotonRegistrarfinalcodigo{
    margin-top: 80%;
}

.Link1RegistroCodigo a{
    padding: 0;
}