.ContenedorInicial2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: linear-gradient(rgb(34, 1, 255), rgb(54, 146, 186));/*Poner la imagen de fondo*/
    background-image: url('../../images/guerrillabuzz-blockchain-pr-agency-3TU34jaW88k-unsplash.jpg');
    height: 400px;
}

.ContenedorInicio{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    color: black;
    row-gap: 15px;
    width: 300px;
    margin-right: 550px;
}

.Subtitulo{
    font-weight: 500;
}

/*inicio seccion 2**/
.Seccion2{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}

.TextosReservas{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.TituloSeccion2{
    color:black;
    font-size: xx-large;
    font-weight: 800;
}

.SubtituloSeccion2{
    color: rgb(249, 165, 81);
    font-size: x-large;
    font-weight: 700;
    width: 400px;
}

.TextoSeccion2{
    font-size: large;
    width: 400px;
}

.ListasReservas{
    padding-top: 30px;
}

li{
    margin-bottom: 20px;
    font-size: large;
}

/*Inicia seccion 3*/

.Seccion3{
    background-color: rgb(254, 237, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 380px;
    height: 400px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: fit-content;
    margin-top: 40px;
}

.Subtitulo2Seccion2{
    color:black;
    font-size: x-large;
    font-weight: 700;
    width: 400px;
}

.reserva_management__inputs {
  & > div:first-child {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    div {
      min-width: 10rem;
    }
  }
}