.SeccionGeneralReservasGlobal{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding-top: 10rem;
    max-width: 95%;
    padding-left: 10rem;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: space-evenly;
}