.SeccionGeneralReservasGlobal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    justify-content: center;
    padding-top: 10rem;
    max-width: 95%;
    padding-left: 10rem;
}