.SeccionGlobalUsuarios{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  min-height: 40rem;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    width: 90vw;
  }
}

.users__right {
  flex-grow: 3;
}

.BotonesUsuario {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  button {
    font-size: 100%;
    width: 100%;
  }
}

.user-management__secondary-actions {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;

  button {
    font-size: 1rem;
  }
}

.BotonesTablaAdmin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.users__right {
  flex-grow: 2;
}

.BotonesManejoUsuario{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
}

.IngresoDatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.BotonConfirmarAdmin{
    margin-top: 2rem;
}

.CamposTexto{
    margin-top: 2rem;
}

.BotonesUser{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.BloquearUserSection{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.BotonConfirmarBloqueo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}