.Codigo{
    background-color: rgb(249, 165, 81);
    margin-top: 40px;
    color: white;
    height: 60px;
    width: 300px;
    font-size: x-large;
    border: none;
}

.Codigoespecial{
    background-color: rgb(242, 71, 38);
    margin-top: 40px;
    color: white;
    height: 60px;
    width: 300px;
    font-size: x-large;
    border: none;
}