.SeccionGeneralHacerReservas{
    display: flex;
    align-items: center;
    padding-top: 10%;
    column-gap: 40px;
}
.HacerReservaIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    row-gap: 10px;
}

.HacerReservaCentral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HacerReservaDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 30px;
}

.BotonHacerReservaDerecha{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.tituloHacerReserva{
    color: #F9A551;
}