.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}

.navbar__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    /* background-color: red; */
}

.navbar__option--selected {
    background-color: green;
}
