$navbarOrangeColor: #f56c51fe;
$orangeColor: #F6A357;
$beigeStandarColor: #ffecdcfe;
$whiteStandarColor: #fefefffe;
$warningButtonColor: #f34727fe;
$standarButtonColor: #fef5edfe;
$yellowStandarColor: #f8a451fe;
$purpleColor: #6335B1;
$algaeColor: #1C7B62;
$acceptGreen: #92CF56;