@mixin button($color) {
  background-color: $color;
  border-radius: 4%;
}

@mixin outlineButton($color) {
  color: $color;
  border: 1px solid $color;
  background-color: none;
  border-radius: 4%;
}

.standarButton {
    @include button($standarButtonColor);
}

.warningButton {
    @include button($warningButtonColor);
}

.secondary-action-button-purple {
  @include outlineButton($purpleColor);
}

.secondary-action-button-green {
  @include outlineButton($algaeColor);
}
