@import // Abstracts
    './abstracts/colors',
    './abstracts/mixins',
    './abstracts/remFactor',
    './abstracts/variables';

@import // Base
    './base/normalize',
    './base/typography';

@import // Components
    './components/buttons',
    './components/dropdown',
    './components/table',
    './components/navbar';

@import // Layout
    './layout/footer',
    './layout/forms',
    './layout/header',
    './layout/sidebar',
    './layout/searchData',
    './layout/stats';

@import // Pages
    // './pages/deleteAccount',
    './pages/graphUser',
    './pages/login',
    './pages/recoverPassword',
    './pages/reserves',
    './pages/reservesHistory',
    './pages/singUp',
    './pages/statistics',
    './pages/IniciarSesion',
    './pages/PantallaPrincipal',

    './pages/BorrarCuentaUsuario.scss',
    './pages/Boton.scss',
    './pages/CajaImagen.scss',
    './pages/CajaNumeros.scss',
    './pages/CheckBox.scss',
    './pages/CambiarContra.scss',
    './pages/DatePicker.scss',
    './pages/InputText.scss',
    './pages/PerfilUsuario.scss',
    './pages/Registrarse.scss',
    './pages/HacerReserva.scss',
    './pages/Reservas.scss',
    './pages/HistorialReserva.scss',
    './pages/Imagenes.scss',
    './pages/Profile.scss',
    './pages/ReservasMenu.scss',
    './pages/SeccionGlobalUsuarios.scss',
    './pages/TablaReservas.scss',
    './pages/BorrarCuentaAdmin';

@import // Themes
    './themes/light';
