.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $yellowStandarColor;

    .navbar__option {
        gap: 40px;
        background-color: red;
    }

    .navbar__option--selected{

    }
}
