.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: red;

}

.Cajita{
    display: flex;
    gap: 40px;
    background-color: yellow;
}

.navActivo{
    border-radius: 50% 15%;
    background-color: rgb(249, 165, 81);
    padding: 15px;
}
a{
    padding: 15px;
}