.stats {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 90vw;
  }
}

.stats-graphs {
  display: flex;
  margin-top: 1rem;
  gap: .5rem;
  flex-direction: row;
}

.stats-top {
  align-self: flex-start;
  h1 {
    font-size: $fontSizeHeading;
    color: $orangeColor;
  }
}

.stats-options {
  display: flex;
  gap: .5rem;
}